.header{
    background-color: #0DCBAF;
}
.header h2{
    color : black;
}
footer{
    background-color: #0DCBAF;
}
footer a{
    color:black;
}
.copy{
    color : green;
    font-size: 1.1em;
    padding-bottom : 0.6em;
}
.ucsy_icon{
    color : black;
}
